- content_for :title do
  Members Home


%h2 Member Home
#main
  %p This is the members interface for the FIXME application.
  %p This system is a barebones RoR application and proud of it!
#sidebar
  %p sidebar
