- content_for :title do
  Administration Home


%h2 Administration Home
#main
  %p This is the administration interface for the morning-window-839 application.
  %p This system is currently a barebones RoR program, and proud of it!
#sidebar
  %p sidebar
